.AudioInfo__container--secondary {
  padding-left: 20px;
}
.vkit-qd5X1Z {
  max-height: inherit;
  padding-right: var(--vkit_internal--dropdown_action_sheet_padding, 0);
}

.vkit-TMO0Wl {
  color: var(--vkui--color_icon_secondary);
}

